.main {
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.preview {
    min-height: 100vh;
    padding-top: 144px;

    @include tablet {
        padding-top: 112px;
    }

    @include mobile {
        padding-top: 80px;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1152px;
}

.preview-content {
    position: relative;
    display: flex;
    padding: 66px 0;

    @include tablet {
        padding: 0;
        margin: 24px;
    }

    @include mobile {
        margin: 24px 16px;
    }

    &__content {
        position: relative;
        z-index: 1;
        width: 752px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-left: auto;

        @include tablet {
            width: 480px;
            margin: 88px 0 88px auto;
        }

        @include mobile {
            width: auto;
            margin: 161px 0 0;
        }
    }

    &__img {
        position: absolute;
        z-index: 0;
        top: -1px;
        left: -80px;
        width: 1128px;
        height: 525px;
        object-fit: cover;
        pointer-events: none;

        @include tablet {
            left: -180px;
        }

        @include mobile {
            width: 960px;
            height: 447px;
            left: -172px;
            top: -15px;
        }
    }

    &__list {
        display: flex;
        gap: 4px;

        @include mobile {
            flex-direction: column;
        }
    }

    &__list-element {
        min-height: 52px;
        padding: 12px 24px;
        border-radius: 999px;
        border: 1px solid rgba(255, 255, 255, 0.24);
        background-color: rgba(0, 0, 0, 0.24);
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.92);

        @include tablet {
            min-height: 44px;
            padding: 11px 16px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
        }

        @include mobile {
            width: fit-content;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.92);

        @include tablet {
            font-size: 18px;
            line-height: 28px;
        }
    }

    &__text-title {
        margin: 0;
        font-size: 48px;
        line-height: 64px;

        @include tablet {
            font-size: 36px;
            line-height: 48px;
        }

        @include tablet {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        max-width: 385px;
        padding-top: 48px;

        @include mobile {
            max-width: none;
        }
    }

    &__footer-button {
        @include mobile {
            width: 100%;
        }
    }

    &__footer-label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.72);
    }
}

.main-text {
    margin-top: 72px;
    font-family: $montserrat;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: rgba(255, 255, 255, 0.92);

    @include tablet {
        margin-top: 48px;
        font-size: 24px;
        line-height: 32px;
    }

    @include mobile {
        margin-top: 72px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.messages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    margin-bottom: -48px;

    &__circle-s {
        position: absolute;
        top: 96px;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        height: 800px;

        @include mobile {
            display: none;
        }
    }

    &__circle-m {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 992px;
        height: 992px;

        @include mobile {
            display: none;
        }
    }

    &__avatars-list {
        z-index: 100;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 864px;
        list-style: none;
        padding: 0;
        margin: 0;

        @include mobile {
            display: none;
        }
    }

    &__avatar-element {
        position: absolute;

        &:nth-child(1) {
            left: 62px;
            top: 182px;
        }

        &:nth-child(2) {
            left: 146px;
            top: -6px;
        }

        &:nth-child(3) {
            left: 402px;
            top: 37px;
        }

        &:nth-child(4) {
            left: 612px;
            top: 2px;
        }

        &:nth-child(5) {
            left: 670px;
            top: 172px;
        }
    }

    &__avatar-button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;

        &.selected {
            border: 1px solid rgba(255, 107, 0, 1);

            .messages__avatar-shadow {
                display: block;
            }
        }
    }

    &__avatar-img {
        width: 96px;
        height: 96px;
        border-radius: 50%;
    }

    &__avatar-shadow {
        display: none;
        position: absolute;
        left: -9px;
        top: -9px;
        width: 136px;
        height: 136px;
        object-fit: contain;
    }

    &__buttons-list {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        max-width: 864px;
        width: 100%;
        padding: 0;
        margin: 240px auto 64px;
        list-style: none;

        @include mobile {
            margin-top: 0;
            overflow: auto;
            flex-direction: row;
            padding: 0 16px;

            &::-webkit-scrollbar {
                width: 0px;
                height: 0;
            }
        }
    }

    &__buttons-list-block {
        display: flex;
        gap: 8px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 148px;
        height: 52px;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 99px;
        background-color: rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.92);
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        cursor: pointer;

        &.selected {
            border-color: rgba(255, 107, 0, 1);
        }
    }
}

.slider {
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 864px;
    padding: 48px 48px 24px 32px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);

    @include tablet {
        width: 720px;
    }

    @include mobile {
        width: 328px;
        padding: 24px 16px;
    }

    &__wrapper {
        margin-top: -72px;

        @include mobile {
            margin-top: -48px;
        }
    }

    &__slide {
        display: flex;
        gap: 24px;

        @include mobile {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__controls-button {
        height: 48px;
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-family: $montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: rgba(11, 87, 208, 1);
        cursor: pointer;
        transition: color 0.2s;

        &:hover {
            color: rgba(224, 94, 0, 1);

            .slider__controls-button-icon path {
                fill: rgba(224, 94, 0, 1);
            }
        }

        @include mobile {
            span {
                display: none;
            }
        }
    }

    &__controls-button-icon {
        width: 32px;
        height: 32px;

        path {
            transition: fill 0.2s;
        }
    }

    &__pagination {
        display: flex;
        gap: 12px;
    }

    &__pagination-item {
        position: relative;
        width: 8px;
        height: 8px;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.16);
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
        }

        &.itc-slider-indicator-active {
            background-color: rgba(255, 107, 0, 1);
        }
    }
}

.slide {
    &__img-block {
        flex-shrink: 0;
        width: 192px;
        min-height: 376px;
        position: relative;

        @include mobile {
            width: 160px;
            height: 160px;
            min-height: auto;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    &__img {
        position: absolute;
        left: 0;
        top: 0;
        width: 192px;
        height: 376px;

        @include mobile {
            display: none;
        }
    }

    &__img-mobile {
        display: none;

        @include mobile {
            display: block;
            width: 160px;
            height: 160px;
            object-fit: contain;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-top: 72px;

        @include mobile {
            margin-top: 0;
        }
    }

    &__title {
        margin-bottom: 12px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }

    &__sub-title {
        margin-bottom: 32px;
        font-family: $montserrat;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    &__list {
        counter-reset: custom-counter;
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-element {
        counter-increment: custom-counter;
        position: relative;
        padding-left: 36px;

        &::before {
            content: counter(custom-counter);
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: rgba(255, 107, 0, 0.16);
            font-family: $montserrat;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.functions {
    padding-top: 96px;
    padding-bottom: 48px;
    background-color: rgba(255, 255, 255, 1);

    &__title {
        margin: 0 0 12px;
        text-align: center;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: rgba(39, 42, 42, 1);

        @include mobile {
            margin-left: 16px;
            margin-right: 16px;
        }
    }

    &__text {
        margin: 0 auto 28px;
        max-width: 510px;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

        @include mobile {
            margin-left: 16px;
            margin-right: 16px;
            margin-bottom: 24px;
        }
    }

    &__link {
        height: 48px;
        display: block;
        width: fit-content;
        margin: 0 auto;
        padding: 12px 0;
        text-decoration: none;
        font-family: $montserrat;
        font-weight: 600;
        color: rgba(11, 87, 208, 1);
        transition: color 0.2s;

        @include tablet {
            margin-bottom: 24px;
        }

        @include mobile {
            margin-left: 16px;
        }

        &:hover {
            color: rgba(224, 94, 0, 1);
        }
    }

    &__content {
        display: flex;
        align-items: flex-end;
        gap: 24px;

        @include tablet {
            overflow: auto;
            padding: 0 24px 14px;

            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                border: 2px solid #d6d6d6;
            }

            &::-webkit-scrollbar-track {
                background-color: #fff;
                border-radius: 10px;
            }
        }
    }

    &__content-block {
        width: 270px;
        display: flex;
        flex-direction: column;
        padding: 24px;
        border-radius: 24px;

        @include tablet {
            flex-shrink: 0;
        }

        &:nth-child(1) {
            height: 400px;
            background-color: rgba(206, 221, 246, 1);
            background-image: url('../images/trash.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 240px 180px;
        }

        &:nth-child(2) {
            height: 320px;
            background-color: rgba(231, 238, 250, 1);
        }

        &:nth-child(3) {
            height: 280px;
            background-color: rgba(206, 221, 246, 1);
            background-image: url('../images/tel.png');
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 270px;
        }

        &:nth-child(4) {
            height: 400px;
            background-color: rgba(231, 238, 250, 1);
        }
    }

    &__content-title {
        margin-bottom: 24px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    &__content-stars {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: auto;
    }

    &__content-stars-block {
        display: flex;
        gap: 4px;
    }

    &__content-star {
        width: 32px;
        height: 32px;

        &.selected path {
            fill: rgba(249, 163, 42, 1);
            fill-opacity: 1;
        }
    }

    &__content-stars-text {
        font-family: $montserrat;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.1em;
        color: rgba(39, 42, 42, 0.72);
    }

    &__content-price {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        color: rgba(39, 42, 42, 0.72);

        span:first-child {
            text-decoration: line-through;
            font-size: 36px;
            line-height: 48px;
            font-weight: 400;
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 48px;
    }

    &__buttons-button {
        width: fit-content;
    }

    &__button-label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(39, 42, 42, 0.72);
    }
}

.phone {
    padding-top: 48px;
    background-color: rgba(255, 255, 255, 1);

    &__wrapper {
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 426px;

        @include tablet {
            grid-template-columns: 1fr 344px;
            max-width: 1200px;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__content {
        padding: 0 96px 24px 0;

        @include tablet {
            padding: 0 48px 24px 24px;
        }

        @include mobile {
            padding: 0 16px 24px;
        }
    }

    &__title {
        margin: 0 0 48px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__list-item {
        display: flex;
        gap: 12px;
        padding: 4px 0;
        border-bottom: 1px solid rgba(39, 42, 42, 0.16);
        cursor: pointer;
        transition: border-bottom 0.2s;

        &:hover:not(.selected) {
            border-bottom-color: rgba(39, 42, 42, 0.56);

            .phone__list-item-arrow-block {
                background-color: rgba(0, 0, 0, 0.04);
            }

            .phone__list-item-arrow path {
                fill: rgba(255, 107, 0, 1);
            }
        }

        &.selected {
            border-bottom-color: rgba(255, 107, 0, 1);

            .phone__list-item-title {
                font-weight: 700;
            }
        }
    }

    &__list-item-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 8px 0;
    }

    &__list-item-title {
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    &__list-item-text {
        color: rgba(39, 42, 42, 0.72);

        @include mobile {
            display: none;
        }
    }

    &__list-item-arrow-block {
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        margin-left: auto;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
    }

    &__list-item-arrow {
        width: 24px;
        height: 24px;

        path {
            fill: rgba(39, 42, 42, 0.72);
            transition: fill 0.2s;
        }
    }

    &__img-block {
        background-repeat: no-repeat, no-repeat;
        background-position: top, 20px 110px;
        background-size: cover, 90%;

        @include tablet {
            background-position: 0 0, 20px 110px;
            background-size: 124%, 110%;
        }

        @include mobile {
            width: 344px;
            height: 400px;
            margin-left: auto;
        }

        &.first {
            background-image: url('../images/phone.png'),
                url('../images/messages-01.gif');
        }

        &.second {
            background-image: url('../images/phone.png'),
                url('../images/messages-02.png');
        }

        &.third {
            background-image: url('../images/phone.png'),
                url('../images/messages-03.png');
        }

        &.four {
            background-image: url('../images/phone.png'),
                url('../images/messages-04.png');
        }
    }
}

.prices {
    padding: 48px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;

        @include mobile {
            padding: 0 16px;
        }
    }

    &__title {
        margin: 0 24px 12px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: rgba(255, 255, 255, 0.92);
        text-align: center;

        @include mobile {
            margin: 0 0 12px;
            text-align: left;
        }
    }

    &__sub-title {
        margin: 0 24px 24px;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: rgba(255, 255, 255, 0.92);

        @include mobile {
            margin: 0 0 24px;
            text-align: left;
        }
    }

    &__price-block {
        margin: 24px auto 0;
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__price {
        font-family: $montserrat;
        font-weight: 300;
        font-size: 48px;
        line-height: 72px;
        color: rgba(255, 255, 255, 0.92);

        span:nth-child(3) {
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }
    }

    &__price-label {
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.92);
    }

    &__buttons {
        width: fit-content;
        margin: 24px auto 96px;
        padding: 48px 0 0;
    }

    &__buttons-label {
        margin-top: 8px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.92);
        text-align: center;
    }

    &__steps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 48px;
        color: rgba(255, 255, 255, 0.92);

        @include tablet {
            margin: 0 24px;
        }

        @include mobile {
            margin: 0;
            grid-template-columns: 1fr;
        }
    }

    &__step {
        position: relative;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
            padding-top: 96px;
        }

        &:nth-child(2) {
            padding-top: 144px;

            @include tablet {
                padding-top: 96px;
            }

            .prices__step-count {
                top: 48px;

                @include tablet {
                    top: 0;
                }
            }
        }

        &:nth-child(3) {
            padding-top: 96px;
        }
    }

    &__step-count {
        position: absolute;
        left: 0;
        top: 0;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 120px;
        line-height: 146px;
        color: rgba(32, 54, 91, 1);
    }

    &__step-title {
        z-index: 20;
        margin-bottom: 12px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
    }

    &__step-icon-1 {
        position: absolute;
        left: 96px;
        top: 32px;
        width: 272px;
        height: 51px;

        @include tablet {
            display: none;
        }
    }

    &__step-icon-2 {
        position: absolute;
        left: 96px;
        top: 56px;
        width: 274px;
        height: 90px;

        @include tablet {
            display: none;
        }
    }

    &__step-text {
        z-index: 30;
    }

    &__footer {
        margin-top: 48px;
        margin-bottom: 12px;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.72);

        @include tablet {
            margin: 48px 24px 0;
        }

        @include mobile {
            margin: 24px 0 0;
            text-align: left;
        }

        a {
            text-decoration: none;
            color: rgba(109, 154, 227, 1);
            transition: color 0.2s;

            &:hover {
                color: rgba(255, 107, 0, 1);
            }
        }
    }
}

.tabs {
    width: fit-content;
    display: flex;
    padding: 4px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.24);

    @include mobile {
        border: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 8px;
        column-gap: 4px;
    }

    &__tab {
        width: 168px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 12px;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.92);
        cursor: pointer;
        transition: all 0.2s;

        @include mobile {
            border: 1px solid rgba(255, 255, 255, 0.08);
            background-color: rgba(255, 255, 255, 0.08);
        }

        &:hover:not(.selected) {
            background-color: rgba(255, 255, 255, 0.04);
        }

        &.selected {
            background-color: rgba(75, 81, 88, 1);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.04);

            @include mobile {
                background-color: rgba(255, 255, 255, 0.08);
                border-color: rgba(255, 107, 0, 1);
            }
        }
    }
}

.questions {
    padding: 48px 0;
    background-color: rgba(255, 255, 255, 1);

    @include tablet {
        padding: 48px 24px;
    }

    @include mobile {
        padding: 48px 16px;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @include tablet {
            grid-template-columns: 1fr;
            gap: 48px;
        }
    }

    &__block-a {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__title {
        max-width: 480px;
        margin: 0;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
    }

    &__text {
        max-width: 480px;

        @include tablet {
            max-width: 624px;
        }
    }

    &__button {
        height: 48px;
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        padding: 0;
        margin: 0;
        background-color: transparent;
        cursor: pointer;
        font-family: $montserrat;
        font-weight: 600;
        color: rgba(11, 87, 208, 1);
        transition: color 0.2s;

        &:hover {
            color: rgba(224, 94, 0, 1);

            .questions__button-icon path {
                fill: rgba(224, 94, 0, 1);
            }
        }
    }

    &__button-icon {
        width: 32px;
        height: 32px;

        path {
            fill: rgba(11, 87, 208, 1);
            transition: fill 0.2s;
        }
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.accordion__item {
    border-bottom: 1px solid rgba(39, 42, 42, 0.16);
}

.accordion__header {
    min-height: 64px;
    display: flex;
    justify-content: space-between;
    gap: 22px;
    font-family: $montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.2s;

    span {
        margin: 12px 0;
    }
}

.accordion__header-icon-wrapper {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
    border-radius: 12px;
    transition: all 0.2s;
}

.accordion__header-icon {
    width: 22px;
    height: 22px;
    transition: all 0.2s;

    path {
        fill: rgba(39, 42, 42, 0.72);
        transition: fill 0.2s;
    }
}

.accordion__item_show .accordion__header-icon,
.accordion__item_slidedown .accordion__header-icon {
    transform: rotate(-180deg);
}

.accordion__item_show,
.accordion__item_slidedown {
    border-color: rgba(255, 107, 0, 1);
}

.accordion__item_show .accordion__header,
.accordion__item_slidedown .accordion__header {
    font-weight: 700;
}

.accordion__header:hover {
    border-color: rgba(39, 42, 42, 0.56);

    .accordion__header-icon-wrapper {
        background-color: rgba(0, 0, 0, 0.04);
    }

    .accordion__header-icon path {
        fill: rgba(255, 107, 0, 1);
    }
}

.accordion__content {
    margin-bottom: 32px;
    margin-right: 56px;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.form {
    padding: 64px 0;
    background-color: rgba(235, 242, 251, 1);

    &__wrapper {
        @include mobile {
            padding: 0 16px;
        }
    }

    &__title {
        margin: 0 auto 12px;
        font-family: $montserrat;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        text-align: center;

        @include mobile {
            text-align: left;
        }
    }

    &__subtitle {
        margin: 0 auto 24px;
        font-family: $montserrat;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;

        @include mobile {
            text-align: left;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @include mobile {
            flex-direction: column;
            gap: 12px;
        }
    }

    &__list-item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &__list-icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        path {
            fill: rgba(15, 158, 70, 1);
        }
    }
}

.index-form {
    padding: 24px 0;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    &__input-tel {
        width: 192px;

        @include mobile {
            width: 100%;
        }
    }

    &__input-name {
        width: 360px;

        @include mobile {
            width: 100%;
        }
    }

    &__button {
        width: 370px;

        @include mobile {
            width: 100%;
        }
    }
}
