extends ../layout.pug

block variables
  - var page = 'index'

include ../icons/icon-circle-s.pug
include ../icons/icon-circle-m.pug
include ../icons/icon-arrow-left.pug
include ../icons/icon-arrow-right.pug
include ../icons/icon-star.pug
include ../icons/icon-step-arrow-1.pug
include ../icons/icon-step-arrow-2.pug
include ../icons/icon-question.pug
include ../icons/icon-chevron.pug
include ../icons/icon-ok.pug
include ../components/button.pug
include ../components/text-input.pug

block content
        main.main
            .preview
                .content.preview-content(id='command')
                    img.preview-content__img(src="../images/lighthouse.png")
                    .preview-content__content
                        .preview-content__list
                            .preview-content__list-element Работает в любой CRM
                            .preview-content__list-element Для бизнеса салонов красоты
                        .preview-content__text
                            h1.preview-content__text-title Команда виртуальных помощников «Маяк»
                            span Увеличь прибыль без увеличения штата
                        .preview-content__footer
                            +button('Подключи и протестируй бесплатно', 'l', 'primary', 'preview-content__footer-button js-login-button js-login-button-rename')
                            .preview-content__footer-label 7 дней пробный период
                .content.main-text Команда виртуальных помощников будет каждую секунду стоять на страже интересов вашего бизнеса, без отдыха работая над его процветанием
                .content.messages
                    +icon-circle-s('messages__circle-s')
                    +icon-circle-m('messages__circle-m')
                    ul.messages__avatars-list.js-slider-avatars
                        li.messages__avatar-element
                            button(type='button' data-slide-to="0").messages__avatar-button.js-slider-avatar.selected
                                img.messages__avatar-img(src='../images/avatar-lookout.png')
                                img.messages__avatar-shadow(src='../images/shadow-circle.png')
                        li.messages__avatar-element
                            button(type='button' data-slide-to="1").messages__avatar-button.js-slider-avatar
                                img.messages__avatar-img(src='../images/avatar-guardian.png')
                                img.messages__avatar-shadow(src='../images/shadow-circle.png')
                        li.messages__avatar-element
                            button(type='button' data-slide-to="2").messages__avatar-button.js-slider-avatar
                                img.messages__avatar-img(src='../images/avatar-builder.png')
                                img.messages__avatar-shadow(src='../images/shadow-circle.png')
                        li.messages__avatar-element
                            button(type='button' data-slide-to="3").messages__avatar-button.js-slider-avatar
                                img.messages__avatar-img(src='../images/avatar-analyst.png')
                                img.messages__avatar-shadow(src='../images/shadow-circle.png')
                        li.messages__avatar-element
                            button(type='button' data-slide-to="4").messages__avatar-button.js-slider-avatar
                                img.messages__avatar-img(src='../images/avatar-trainer.png')
                                img.messages__avatar-shadow(src='../images/shadow-circle.png')
                    ul.messages__buttons-list.js-slider-buttons
                        .messages__buttons-list-block
                            li.messages__button-element
                                button(type='button' data-slide-to="0").messages__button.js-slider-button.selected Дозорный
                            li.messages__button-element
                                button(type='button' data-slide-to="1").messages__button.js-slider-button Хранитель
                        .messages__buttons-list-block
                            li.messages__button-element
                                button(type='button' data-slide-to="2").messages__button.js-slider-button Строитель
                            li.messages__button-element
                                button(type='button' data-slide-to="3").messages__button.js-slider-button Аналитик
                            li.messages__button-element
                                button(type='button' data-slide-to="4").messages__button.js-slider-button Тренер

                    .slider.itc-slider
                        .slider__wrapper.itc-slider-wrapper
                            .itc-slider-items
                                .slider__slide.itc-slider-item
                                    .slide__img-block
                                        img.slide__img(src='images/characters-lookout.png')
                                        img.slide__img-mobile(src='images/avatar-lookout.png')
                                    .slide__content
                                        .slide__title Дозорный
                                        .slide__sub-title Мониторит текущие события и мгновенно оповестит вас, если:
                                        ul.slide__list
                                            li.slide__list-element Сотрудник отменит запись без перезаписи клиента на другое время
                                            li.slide__list-element Клиент отменит запись без переноса на другое время
                                            li.slide__list-element Сотрудник откроет ранее оформленный визит
                                            li.slide__list-element Сотрудник изменит стоимость, состав услуг или товаров в визите
                                            li.slide__list-element При получении отрицательного отзыва
                                .slider__slide.itc-slider-item
                                    .slide__img-block
                                        img.slide__img(src='images/characters-guardian.png')
                                        img.slide__img-mobile(src='images/avatar-guardian.png')
                                    .slide__content
                                        .slide__title Хранитель
                                        .slide__sub-title Охраняет вашу кассу и мгновенно оповестит вас, если:
                                        ul.slide__list
                                            li.slide__list-element Сотрудник не напечатает чек
                                            li.slide__list-element Сотрудник отменит ранее пробитый чек
                                            li.slide__list-element Сотрудник в назначенное время не снимет Z-отчёт
                                .slider__slide.itc-slider-item
                                    .slide__img-block
                                        img.slide__img(src='images/characters-builder.png')
                                        img.slide__img-mobile(src='images/avatar-builder.png')
                                    .slide__content
                                        .slide__title Строитель
                                        .slide__sub-title Работает над увеличением записей в будущем и над эффективным ведением базы. Он сообщит вам, если:
                                        ul.slide__list
                                            li.slide__list-element При оформлении визита сотрудник забудет установить напоминание «Пора записаться снова»
                                            li.slide__list-element Сотрудник создаст запись не указав номер телефона клиента
                                            li.slide__list-element Сотрудник создаст запись без указания услуг
                                            li.slide__list-element Сотрудник продаст товар не указав номер телефона клиента
                                .slider__slide.itc-slider-item
                                    .slide__img-block
                                        img.slide__img(src='images/characters-analyst.png')
                                        img.slide__img-mobile(src='images/avatar-analyst.png')
                                    .slide__content
                                        .slide__title Аналитик
                                        .slide__sub-title Анализирует  работу салона и:
                                        ul.slide__list
                                            li.slide__list-element Записывает все данные о работе салона за день в отчётные таблицы
                                            li.slide__list-element Каждый вечер присылает вам отчёт с результатами работы
                                .slider__slide.itc-slider-item
                                    .slide__img-block
                                        img.slide__img(src='images/characters-trainer.png')
                                        img.slide__img-mobile(src='images/avatar-trainer.png')
                                    .slide__content
                                        .slide__title Тренер
                                        .slide__sub-title Заботится о развитии вашего бизнеса и улучшении показателей:
                                        ul.slide__list
                                            li.slide__list-element Используя данные Аналитика составит план для улучшения показателей
                                            li.slide__list-element Даёт советы по выполнению плана и сопровождает вас на пути к успеху
                        .slider__controls
                            button.slider__controls-button.itc-slider-btn.itc-slider-btn-prev(type='button')
                                +icon-arrow-left('slider__controls-button-icon')
                                span Тренер
                            .slider__pagination.itc-slider-indicators
                                button(type='button' data-slide-to="0").slider__pagination-item.itc-slider-indicator
                                button(type='button' data-slide-to="1").slider__pagination-item.itc-slider-indicator
                                button(type='button' data-slide-to="2").slider__pagination-item.itc-slider-indicator
                                button(type='button' data-slide-to="3").slider__pagination-item.itc-slider-indicator
                                button(type='button' data-slide-to="4").slider__pagination-item.itc-slider-indicator
                            button.slider__controls-button.itc-slider-btn.itc-slider-btn-next(type='button')
                                span Хранитель
                                +icon-arrow-right('slider__controls-button-icon')
            .functions
                .content
                    .functions__title-block(id='functions')
                        h2.functions__title Самые популярные функции
                        .functions__text Все помощники стоят на страже вашего бизнеса и при ситуациях тут же оповещают вас через Telegram
                        a.functions__link(href="/") Все функции помощников
                    .functions__content
                        .functions__content-block
                            .functions__content-title Отмена визита
                            .functions__content-text В случае отмены визита сотрудником, или самим клиентом помощник уведомит вас об этом и укажет причины отмены
                        .functions__content-block
                            .functions__content-title Поступил плохой отзыв
                            .functions__content-text Помощник расскажет вам, если клиент оставит негативный отзыв о визите
                            .functions__content-stars
                                .functions__content-stars-block
                                    +icon-star('functions__content-star selected')
                                    +icon-star('functions__content-star')
                                    +icon-star('functions__content-star')
                                    +icon-star('functions__content-star')
                                    +icon-star('functions__content-star')
                                .functions__content-stars-text 1/5
                        .functions__content-block
                            .functions__content-title Администратор не пробил чек
                        .functions__content-block
                            .functions__content-title Уменьшилась сумма визита
                            .functions__content-text Если при оформлении в визите будет удалены товар или услуга, и/или заменены на более дешевые, помощник это не упустит и расскажет вам обо всех потерях
                            .functions__content-price
                                span 4 750 ₽
                                span 2500 ₽
                    .functions__buttons
                        +button('Подключи и протестируй бесплатно', 'l', 'primary', 'functions__buttons-button js-login-button js-login-button-rename')
                        .functions__button-label 7 дней пробный период

            .phone
                .content.phone__wrapper(id='messages')
                    .phone__content
                        h2.phone__title Какие сообщения присылает команда?
                        ul.phone__list
                            li.phone__list-item.js-messages-item.selected
                                .phone__list-item-block
                                    .phone__list-item-title Оформление записей
                                    .phone__list-item-text Контролируем указания номера телефона клиента, наличия услуг, выдачу чека, напоминания о новой записи в будущее и внесение изменений в ранее оформленные визиты
                                .phone__list-item-arrow-block
                                    +icon-arrow-right('phone__list-item-arrow')
                            li.phone__list-item.js-messages-item
                                .phone__list-item-block
                                    .phone__list-item-title Изменение записей
                                    .phone__list-item-text Контролируем переносы и отмены записей с указанием причин
                                .phone__list-item-arrow-block
                                    +icon-arrow-right('phone__list-item-arrow')
                            li.phone__list-item.js-messages-item
                                .phone__list-item-block
                                    .phone__list-item-title Отзывы клиентов
                                    .phone__list-item-text Контролируем получение негативных отзывов клиентов
                                .phone__list-item-arrow-block
                                    +icon-arrow-right('phone__list-item-arrow')
                            li.phone__list-item.js-messages-item
                                .phone__list-item-block
                                    .phone__list-item-title Продажи товаров
                                    .phone__list-item-text Контролируем корректность и полноту указанной информации
                                .phone__list-item-arrow-block
                                    +icon-arrow-right('phone__list-item-arrow')
                    .phone__img-block.js-messages-image.first

            .prices
                .content.prices__wrapper(id='prices')
                    h2.prices__title Сколько стоит работа команды?
                    .prices__sub-title Наши помощники не спят, им не нужен соц. пакет, корпоративные обеды, выходные и больничные
                    .prices__tabs.tabs
                        button.tabs__tab.js-prices-button.selected(type='button' data-price='100') 1 точка контроля
                        button.tabs__tab.js-prices-button(type='button' data-price='1 000') 3 точки контроля
                        button.tabs__tab.js-prices-button(type='button' data-price='2 000') Безлимитный
                    .prices__price-block
                        .prices__price
                            span.js-prices-count 100
                            span  ₽
                            span  в месяц
                        .prices__price-label оплата за год, всего 1200 рублей
                    .prices__buttons
                        +button('Подключи и протестируй бесплатно', 'l', 'primary', 'prices__button js-login-button js-login-button-rename')
                        .prices__buttons-label 7 дней пробный период
                    h2.prices__title Быстрый старт в три шага
                    .prices__sub-title На знакомство с вашим бизнесом у команды уйдёт всего 5 минут
                    .prices__steps
                        .prices__step
                            +icon-step-arrow-1('prices__step-icon-1')
                            .prices__step-count 1
                            .prices__step-title Подключайте
                            .prices__step-text Зайдите в маркет своей CRM и подключите приложение Wazapa*
                        .prices__step
                            +icon-step-arrow-2('prices__step-icon-2')
                            .prices__step-count 2
                            .prices__step-title Активируйте
                            .prices__step-text В личном кабинете Wazapa в разделе Бот «Маяк» активируйте его нажав на кнопку «Попробовать бесплатно»
                        .prices__step
                            .prices__step-count 3
                            .prices__step-title Стартуйте
                            .prices__step-text В своем Telegram в боте Mayak нажмите «Старт» и получайте сообщения от команды Маяка
                    .prices__footer
                        span * Если в вашей CRM нет маркета, 
                        a(href="/") отправьте нам
                        span  название своего салона, и CRM и мы вас подключим через API

            .questions
                .content.questions__wrapper
                    .questions__block-a
                        h2.questions__title Часто задаваемые вопросы
                        .questions__text Наш сервис разработан с фокусом на простоту и удобство использования. Если у вас вдруг возникнут вопросы в процессе работы, здесь собраны несколько полезных подсказок.
                        button.questions__button(type='button')
                            +icon-question('questions__button-icon')
                            span Остались вопросы
                    .questions__block-b
                        .accordion.js-accordion
                            .accordion__item
                                .accordion__header.js-accordion-header
                                    span В какой CRM можно подключить «Маяк»?
                                    .accordion__header-icon-wrapper
                                        +icon-chevron('accordion__header-icon')
                                .accordion__body
                                    .accordion__content Наш сервис можно подключить в любой CRM-системе, так как мы обеспечиваем интеграцию с помощью API. Большинство популярных CRM имеют готовую интеграцию с нашим сервисом, но даже если ее нет, мы сможем помочь с подключением при наличии API у вашей CRM.
                            .accordion__item
                                .accordion__header.js-accordion-header
                                    span Сколько времени занимает процесс подключения?
                                    .accordion__header-icon-wrapper
                                        +icon-chevron('accordion__header-icon')
                                .accordion__body
                                    .accordion__content Процесс подключения занимает всего несколько минут. Наш сервис разработан с акцентом на простоту и удобство использования. Если у вас возникнут какие-либо вопросы в процессе, вы можете ознакомиться с подробной инструкцией по ссылке.
                            .accordion__item
                                .accordion__header.js-accordion-header
                                    span Сколько номеров телефона можно подключить одновременно?
                                    .accordion__header-icon-wrapper
                                        +icon-chevron('accordion__header-icon')
                                .accordion__body
                                    .accordion__content К нашему сервису можно подключить до 5 номеров телефонов, на которые будут приходить уведомления от бота. Таким образом, вы можете контролировать важные события в работе салона с нескольких устройств.
                            .accordion__item
                                .accordion__header.js-accordion-header
                                    span Можно ли докупить дополнительные точки контроля?
                                    .accordion__header-icon-wrapper
                                        +icon-chevron('accordion__header-icon')
                                .accordion__body
                                    .accordion__content Да, конечно. Мы предлагаем три варианта подключения: 1 точка, 3 точки и безлимитный доступ. Если вы выбрали ограниченное количество точек, вы можете в любой момент менять отслеживаемое событие – отключать одно и включать другое.
                            .accordion__item
                                .accordion__header.js-accordion-header
                                    span Как можно связаться с технической поддержкой?
                                    .accordion__header-icon-wrapper
                                        +icon-chevron('accordion__header-icon')
                                .accordion__body
                                    .accordion__content Вы можете отправить сообщение в службу поддержки прямо из вашего личного кабинета Wazapa, и наши специалисты обязательно с вами свяжутся.

            .form
                .content.form__wrapper
                    h2.form__title Команда помощников готова к работе!
                    .form__subtitle Семидневный пробный период позволит вам оценить все преимущества работы с помощниками
                    form.index-form(action="")
                        +text-input('', '', 'Телефон для связи', '', 'index-form__input-tel')
                        +text-input('', '', 'Название организации', '', 'index-form__input-name')
                        +button('Отправить заявку на подключение', 'm', 'primary', 'index-form__button js-accept-button-rename')
                    .form__list
                        .form__list-item
                            +icon-ok('form__list-icon')
                            span Можно пользоваться сразу
                        .form__list-item
                            +icon-ok('form__list-icon')
                            span Без предоплаты
                        .form__list-item
                            +icon-ok('form__list-icon')
                            span Доступ ко всем функциям