extends ../layout.pug

block variables
  - var page = 'oferta'

include ../icons/icon-circle-s.pug
include ../icons/icon-circle-m.pug
include ../icons/icon-arrow-left.pug
include ../icons/icon-arrow-right.pug
include ../icons/icon-star.pug
include ../icons/icon-step-arrow-1.pug
include ../icons/icon-step-arrow-2.pug
include ../icons/icon-question.pug
include ../icons/icon-chevron.pug
include ../icons/icon-ok.pug
include ../components/button.pug
include ../components/text-input.pug
include ../components/popup-auth.pug
include ../components/popup-forgot-pass.pug
include ../components/popup-login.pug
include ../components/popup-success.pug

block content
        main.oferta
            .text-content
                h1 Оферта
                .oferta__text Договор публичной оферты по оказанию услуг сайта wazapa.ru
                h2 1. Общие положения
                .oferta__list
                    div 1.1. Настоящий Договор является публичной Офертой ИП Анисимов Сергей Николаевич (ИНН 772171305240 ОГРНИП 313774621700205) (в дальнейшем именуемого «Лицензиар») в соответствии со статьей 437 Гражданского Кодекса Российской Федерации и содержит все существенные условия предоставления доступа к сервису Wazapa.ru.
                    div 1.2. В соответствии со статьей 438 Гражданского Кодекса Российской Федерации, безусловным принятием (акцептом) условий настоящего Договора считается оплата вознаграждения Лицензиатом.
                    div 1.3. Настоящий Договор размещен в свободном доступе на Интернет-сайте 
                        a(href='http://wazapa.ru') http://wazapa.ru
                        span .
                    div 1.4. Положения, содержащиеся в настоящей Оферте, могут быть изменены в одностороннем порядке Лицензиаром. Информация об изменениях настоящих Условий размещается на сайте 
                        a(href='http://wazapa.ru/oferta') http://wazapa.ru/oferta
                        span  за 3 (три) календарных дня до введения изменений.
                    div 1.5. Настоящий документ определяет существенные условия предоставления доступа к сервису Wazapa.
                    div 1.6. Незнание настоящих Условий не является основанием для предъявления со стороны Лицензиата каких-либо претензий к Лицензиару.
                h2 2. Предмет договора
                .oferta__list
                    div 2.1. Предметом настоящей Оферты является предоставление Лицензиаром доступа Лицензиату к Сервису отправки электронных сообщений в мессенджеры.
                h2 3. Порядок использования сервиса
                .oferta__list
                    div 3.1. Доступ к Сервису осуществляется в режиме онлайн посредством сети Интернет по адресу 
                        a(href='https://wazapa.ru/') https://wazapa.ru/
                        span  через Программу-партнера Сервиса.
                    div 3.2. Моментом предоставления Лицензиату права доступа к с Сервису является дата сканирования QR кода Лицензиатом для начала работы с Сервисом.
                    div 3.3. Лицензиат имеет круглосуточный (за исключением времени проведения профилактических работ) доступ к Сервису с возможностью использовать функционал в рамках предоставленного Лицензиату Типа лицензии.
                    div 3.4. В случае если в течение 5 (пяти) рабочих дней с даты начала использования Сервиса Лицензиар не получил письменных претензий Лицензиата, отправленных на адрес 
                        a(href='mailto:info@wazapa.ru') info@wazapa.ru
                        span  связанных с работой Сервиса, то считается, что неисключительное право использования доступа предоставлено Лицензиату в полном объеме и надлежащим образом.
                h2 4. Права и обязанности сторон
                .oferta__list
                    div 4.1. Лицензиар:
                    div 4.1.1. обеспечивает круглосуточный доступ Лицензиата к функционалу (за исключением времени проведения профилактических работ);
                    div 4.1.2. для увеличения надежности и производительности Сервиса и/или сайта 
                        a(href='https://wazapa.ru') https://wazapa.ru
                        span  без согласования с Лицензиатом интегрирует, изменяет и исключает из компоненты, свойства и функции, а также проводит необходимые для этого профилактические работы;
                    div 4.1.3. вправе без уведомления Лицензиата использовать технические средства защиты авторских прав для целей удаленного мониторинга работы Сервиса для следующих целей (включая, но не ограничиваясь): сбор статистической информации, осуществление контроля за правомерностью использования, поиск возможных уязвимостей;
                    div 4.1.4. не предоставляет Лицензиату услуги связи, не организует для него возможность доступа к сети Интернет;
                    div 4.1.5. не предоставляет Лицензиату гарантии пригодности Сервиса для целей деятельности Лицензиата, а также гарантии совместимости Сервиса с программным обеспечением и аппаратными средствами Лицензиата;
                .oferta__list
                    div 4.2. Лицензиат:
                    div 4.2.1. обязуется использовать Сервис в соответствии с условиями Договора;
                    div 4.2.2. в порядке, предусмотренном Договором, выплачивает Лицензиару вознаграждение за использование Сервиса;
                    div 4.2.3. гарантирует соблюдение законодательства Российской Федерации о персональных данных в отношении всех субъектов персональных данных, сведения о которых передаются Лицензиару;
                    div 4.2.4. обязуется предоставлять Лицензиару всю информацию, необходимую для исполнения Лицензиаром обязательств по Договору, и гарантирует, что получение, обработка и последующая передача Лицензиару любой информации в рамках исполнения Договора будет осуществляться Лицензиатом в соответствии с требованиями законодательства Российской Федерации об авторском праве, о защите персональных данных, о регулировании трудовых отношений, о защите прав потребителей, об информации, информационных технологиях и защите информации, о противодействии экстремистской деятельности;
                    div 4.2.5. по запросу Лицензиара направляет Лицензиару бухгалтерские документы.
                h2 5. Порядок расчетов
                .oferta__list
                    div 5.1. За предоставления доступа к Сервису Лицензиат уплачивает Лицензиару вознаграждение авансовым платежом в размере 100% стоимости Лицензии. Стоимость и срок действия Лицензии указываются в счете и опубликованы в Приложение №1.
                    div 5.2. Лицензиат перечисляет вознаграждение путем безналичного перечисления денежных средств в валюте Российской Федерации (Российский рубль) на расчетный счет Лицензиара на основании выставленного счета.
                    div 5.3. Датой оплаты является дата зачисления денежных средств на расчетный счёт Лицензиара.
                    div 5.4. Стороны вправе согласовать иные условия, сроки и порядок расчетов в приложении и/или дополнительном соглашении к Договору.
                h2 6. Ответственность сторон
                .oferta__list
                    div 6.1. За неисполнение или ненадлежащее исполнение своих обязательств по Договору Стороны несут ответственность в соответствии с законодательством Российской Федерации.
                    div 6.2. В случаи возникновения перерывов в предоставлении Лицензиату доступа к Сервису, возникших по вине Лицензиара в течение периода действия Договора, фиксируются Лицензиатом и посредством письменной претензии с описанием проблемы направляются Лицензиару. При подтверждении обоснованности претензии Лицензиата Стороны производят перерасчет стоимости права использования Сервисом пропорционально времени, в течение которого Сервис был недоступен по вине Лицензиара. Правила настоящего пункта не распространяются на случаи проведения Лицензиаром профилактических работ для увеличения надежности и производительности Сервиса и/или сайта в соответствии с пп. 4.1.2 Договора. Лицензиар не несет ответственности за прямые и косвенные убытки Лицензиата, возникшие в результате отсутствия доступа к Сервису, включая упущенную выгоду.
                    div 6.3. В случае если в результате действий (бездействия) Лицензиата, выразившихся в несоблюдении / ненадлежащем соблюдении Лицензиатом обязательств, предусмотренных пп.пп. 4.2.3 – 4.2.4 Договора, Лицензиар будет привлечен к гражданско-правовой ответственности по искам любых физических лиц и организаций (возмещение убытков, имущественного или морального вреда) или к административной ответственности в виде штрафа по постановлениям компетентных органов, Лицензиат в течение 10 (десяти) рабочих дней с даты вступления в законную силу соответствующего решения суда (арбитражного суда) или постановления компетентного органа возмещает Лицензиару убытки в размере присужденных денежных сумм или наложенных штрафов.
                    div 6.4. Лицензиар не несет ответственности перед Лицензиатом и третьими лицами по любым обязательствам, связанным с реализацией товаров и услуг в Салоне красоты.
                    div 6.5. Лицензиар не несет ответственности за действия (бездействие) и решения Лицензиата, принятые (совершенные) на основании информации, полученной Лицензиатом при использовании Сервиса, их последствия, а также прямые и косвенные убытки Лицензиата, возникшие в результате использования Сервиса, включая упущенную выгоду.
                h2 7. Возврат
                .oferta__list
                    div 7.1. Лицензиат может подать на возврат платежа в течение 14 календарных дней с даты начала использования Сервиса, отправив письмо на email 
                        a(href='info@wazapa.ru') info@wazapa.ru
                        span . Возврат денежных средств производится тем же способом, что и их оплата.
                h2 8. Конфиденциальность
                .oferta__list
                    div 8.1. Стороны с момента заключения Договора и в течение 2 (двух) лет с даты его прекращения обязуются не разглашать конфиденциальную информацию, полученную при исполнении Договора, а также не использовать ее для любых целей способами, не предусмотренными Договором, без предварительного письменного согласия другой Стороны.
                h2 9. Обстоятельства непреодолимой силы
                .oferta__list
                    div 9.1. Стороны освобождаются от ответственности за частичное или полное неисполнение своих обязательств по Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы (п. 3 ст. 401 Гражданского кодекса Российской Федерации), при условии, что указанные обстоятельства непосредственно повлияли на исполнение Сторонами своих обязательств. Факт наступления таких обстоятельств должен быть подтвержден компетентными органами.
                    div 9.2. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана незамедлительно, но не позднее 48 (Сорока восьми) часов с момента их начала, в письменной форме уведомить другую Сторону о наступлении и прекращении указанных обстоятельств и об их влиянии на возможность исполнить обязательство. Несвоевременное уведомление о возникновении обстоятельств непреодолимой силы лишает нарушившую Сторону права на освобождение от ответственности за неисполнение / ненадлежащее исполнение обязательств по Договору.
                    div 9.3. Действие обстоятельства непреодолимой силы отодвигает исполнение обязательств Сторон на время действия соответствующего обстоятельства. При невозможности исполнения обязательств в течение срока свыше 2 (Двух) календарных месяцев, каждая из Сторон имеет право в одностороннем порядке отказаться от исполнения Договора без обязательств по возмещению убытков.
                h2 10. Порядок разрешения споров
                .oferta__list
                    div 10.1. Споры о взыскании денежных средств по требованиям, возникшим из Договора, вследствие неосновательного обогащения, могут быть переданы на разрешение Арбитражного суда города Москвы после принятия Сторонами мер по досудебному урегулированию по истечении 15 (пятнадцати) календарных дней со дня получения претензии (требования) Стороной-адресатом.
                    div 10.2. Споры по иным требованиям, возникшим из Договора, рассматриваются в Арбитражном суде города Москвы в соответствии с законодательством Российской Федерации.
                h2 11. Срок действия и порядок расторжения договора
                .oferta__list
                    div 11.1. Настоящий Договор считается заключенным с любым физическим или юридическим лицом с момента полного и безоговорочного акцепта таким лицом условий настоящего Договора. С момента полного и безоговорочного акцепта условий настоящего Договора указанное лицо становится Стороной настоящего Договора. Полным и безоговорочным акцептом условий настоящего Договора является уплата Лицензионного вознаграждения в соответствии с условиями настоящего Договора, при этом акцепт означает, что Лицензиат полностью согласен с условиями настоящего Договора, а все предварительные договоренности и переписка между сторонами утрачивают свою силу.
                    div 11.2. Договор может быть расторгнут по соглашению Сторон, также любая из Сторон вправе в одностороннем внесудебном порядке отказаться от исполнения Договора на основании соответствующего письменного уведомления. Уведомление об отказе от исполнения Договора направляется в адрес другой Стороны за 10 (десять) календарных дней до предполагаемой даты прекращения действия Договора (дата расторжения Договора).
                    div 11.3. Лицензиар также вправе в одностороннем внесудебном порядке отказаться от исполнения Договора в следующих случаях:
                    div 11.3.1. при существенном нарушении Лицензиатом обязанности уплатить Лицензиару лицензионное вознаграждение в установленный Договором срок;
                    div 11.3.2. при нарушении Лицензиатом порядка пользования Сервисом, предусмотренным настоящим Договорм.
                    div 11.4. В случаях, предусмотренных п. 10.3 Договора, Договор считается расторгнутым с даты получения Лицензиатом соответствующего уведомления.
                    div 11.5. Прекращение действия Договора не влечёт прекращения обязательств, предусмотренных Разделом 7 Договора.
                h2 12. Прочие условия
                .oferta__list
                    div 12.1 Требования, претензии, уведомления и иные юридически значимые сообщения направляются Сторонами любым из следующих способов:- заказным либо ценным письмом с уведомлением о вручении и/или телеграммой с заказным уведомлением. В этом случае днем получения документа считается дата поступления соответствующего письма или телеграммы в отделение почтовой связи по месту нахождения Стороны-адресата.- посредством вручения (в том числе курьерской доставкой). В этом случае факт получения документа должен подтверждаться распиской, которая содержит наименование документа и дату его получения, а также фамилию, инициалы, должность и подпись лица, получившего данный документ.- по факсимильной связи, электронной почте (по номерам телефонов и адресам, указанным Сторонами в Договоре) или иным способом связи при условии, что он позволяет достоверно установить, от кого исходило сообщение и кому оно адресовано (п. 65 Постановления Пленума Верховного Суда РФ от 23.06.2015 № 25).
                    div 12.2. Сообщения влекут гражданско-правовые последствия для Стороны, которой они направлены, с момента доставки данных сообщений ей или ее представителю.
                h2 13. Реквизиты
                .oferta__list
                    div ИП "Анисимов Сергей Николаевич"
                    div Свидетельство о регистрации: серия 77 № 015591788 от 07 августа 2013 г.
                    div ИНН: 772171305240
                    div ОГРНИП: 313774621700205
                    div Расчетный счет № 40802810000120016875 в ПАО АКБ "АВАНГАРД",
                    div БИК 044525201,
                    div к/с 30101810000000000201 в ГУ Банка России по ЦФО.
                h2.oferta__table-title Приложение № 1 к договору публичной оферты
                .oferta__text Перечень лицензий
                .table
                    table
                        thead
                            tr
                                th № лицензии
                                th Название
                                th Цена
                                th Срок
                        tbody
                            tr
                                td 1
                                td Триггерные уведомления
                                td 1 650 ₽
                                td 1 мес.
                            tr
                                td 2
                                td Триггерные уведомления
                                td 4 800 ₽
                                td 3 мес.
                            tr
                                td 3
                                td Триггерные уведомления
                                td 9 300 ₽
                                td 6 мес.
                            tr
                                td 4
                                td Триггерные уведомления
                                td 18 000 ₽
                                td 12 мес.
                            tr
                                td 1
                                td Триггерные уведомления
                                td 00 000 ₽
                                td 00 мес.
                .oferta__table-text 01 сентября 2021 г.
        .oferta-contact
            .text-content
                h2 По всем вопросам свяжитесь с нами
                div по электронной почте 
                    a(href='mailto:info@wazapa.ru') info@wazapa.ru