.footer {
    background-color: rgba(235, 242, 251, 1);

    &__wrapper {
        max-width: 1152px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 48px;
        margin: 24px auto;
        padding: 24px;
        border-radius: 24px;
        background-color: rgba(39, 40, 42, 1);

        @include tablet {
            margin: 24px;
            width: auto;
        }

        @include mobile {
            flex-direction: column;
            gap: 16px;
            margin: 0;
            padding: 16px;
            border-radius: 0;
        }
    }

    &__logo-block {
        padding-left: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include tablet {
            flex-shrink: 0;
        }

        @include mobile {
            padding-left: 0;
            gap: 12px;
        }
    }

    &__icon-wrapper {
        height: fit-content;
        display: flex;
        align-items: flex-end;

        svg:nth-child(1) {
            @include mobile {
                width: 32px;
                height: 32px;
            }
        }
    }

    &__logo-icon-text {
        margin-left: 10px;
        margin-bottom: 5px;

        @include mobile {
            width: 80px;
            height: 20px;
            margin-left: 8px;
            margin-bottom: 4px;
        }
    }

    &__logo-text {
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.72);
    }

    &__nav-block {
        display: flex;
        gap: 48px;

        @include tablet {
            flex-direction: column;
            width: 100%;
            gap: 0;
        }
    }

    &__list {
        padding: 8px 0 12px 24px;
        border-left: 1px solid rgba(255, 255, 255, 0.24);

        ul {
            max-width: 216px;
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 12px;
            padding: 0;
            margin: 0;

            @include tablet {
                max-width: none;
            }
        }

        a {
            font-family: $montserrat;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.92);
            text-decoration: none;
            transition: color 0.2s;

            &:hover {
                color: rgba(255, 107, 0, 1);
            }
        }
    }
}
